// variabls

$text_size:1.6rem;
$s_heading:1.8rem;
$m_heading: 2.3rem;
$l_heading:3rem;
$xl_heading:3.8rem;


$color1:white;
$color2:black;
$color3:#00abb4;
$color4:#A8A8A8;



$container_width: 1140px;


$font1:"Raleway", sans-serif;

